@tailwind base;
@tailwind components;
@tailwind utilities;


/* hero image animation */
@keyframes moveOutline {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  25% {
    box-shadow: 0 0 0 8px white, 0 0 20px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 0 0 transparent;
  }
  75% {
    box-shadow: 0 0 0 8px white, 0 0 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}



/* animation */
.scroll-indicator {
  animation: bounceUpDown 3s infinite alternate;
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation-circle  {
  animation: rotation 20s infinite;
  background-color: #3B3B3B;
}

@keyframes rotation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(300px);
  }
  100%{
    transform: translateX(0px);
  }
}

.animation-circle-two  {
  animation: rotations 20s infinite;
  background-color: #3B3B3B;
}

@keyframes rotations {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200px);
  }
  100%{
    transform: translateX(0px);
  }
}

/* scrollbar redesign */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}