@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}

/* hero image animation */
@keyframes moveOutline {
  0% {
    box-shadow: 0 0 0 0 #692ce6;
  }
  25% {
    box-shadow: 0 0 0 8px white, 0 0 20px #773EEA;
  }
  50% {
    box-shadow: 0 0 0 0 #692ce6;
  }
  75% {
    box-shadow: 0 0 0 8px white, 0 0 20px #692ce6;
  }
  100% {
    box-shadow: 0 0 0 0 #692ce6;
  }
}



/* animation */
.scroll-indicator {
  animation: bounceUpDown 4s infinite alternate;
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation-circle  {
  animation: rotation 20s infinite;
  background-color: #692ce6;
  opacity: 40%;
}

@keyframes rotation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(300px);
  }
  100%{
    transform: translateX(0px);
  }
}

.animation-circle-two  {
  animation: rotations 20s infinite;
  background-color: #692ce6;
  opacity: 40%;
}

@keyframes rotations {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200px);
  }
  100%{
    transform: translateX(0px);
  }
}

/* scrollbar redesign */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #773EEA;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
